<p-dialog
  [visible]="isVisible()"
  (visibleChange)="onClose.emit()"
  (onHide)="ngOnDestroy()"
  [style]="{ width: '450px' }"
  [header]="title()"
  [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="form">
      <app-profile-picture [user]="user()" (onSelect)="handleSelectedPicture($event)"/>

      <div class="field">
        <label for="name">Nombre</label>
        <input
          type="text"
          pInputText
          id="name"
          formControlName="name"
          aria-describedby="username"
          required
          autofocus/>
        @if (isRequiredName) {
          <small class="text-red-500" id="username">
            Campo requerido
          </small>
        }
      </div>

      <div class="field">
        <label for="email">Correo</label>
        <input
          id="email"
          pInputText
          formControlName="email"
          aria-describedby="userEmail"
          required/>
        @if (isRequiredEmail) {
          <small class="text-red-500" id="userEmail">
            Campo requerido
          </small>
        }

        @if (isInvalidEmail) {
          <small class="text-red-500">
            Ingresa un correo válido
          </small>
        }

        @if(isEmailAvailable) {
          <small class="text-red-500">
            Este correo ya está en uso
          </small>
        }
      </div>

      <div class="field">
        <label for="role">Rol</label>
        <input
          id="role"
          pInputText
          formControlName="role"
        />
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      [text]="true"
      (click)="onClose.emit()"/>
    <p-button
      pRipple
      label="Guardar"
      icon="pi pi-check"
      [text]="true"
      [disabled]="form.invalid"
      (click)="handleSave()"/>
  </ng-template>
</p-dialog>
