<div class="parent">
  <div
    class="container"
    [ngClass]="isSignDivVisible ? 'active' : ''"
    id="container"
  >
    <div class="form-container sign-up">
      <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
        <h1 style="color: black">Ingreso educador</h1>
        <span style="color: black">O gestor educativos</span>
        <input
          type="email"
          name="email"
          formControlName="email"
          placeholder="Email"
        />
        <span *ngIf="isRequiredEmail" class="text-red-800 text-left">
          Ingresa tu correo
        </span>
        <span *ngIf="isInvalidEmail" class="text-red-800 text-left">
          Correo no valido
        </span>
        <input
          type="password"
          name="password"
          formControlName="password"
          placeholder="Password"
        />
        <span *ngIf="isRequiredPassword" class="text-red-800 text-left">
          Ingresa tu contraseña
        </span>

        <span *ngIf="isInvalidLengthPassword" class="text-red-800 text-left">
          La contraseña debe tener al menos 6 caracteres
        </span>
        <button type="submit" pButton [disabled]="loginForm.invalid">Entramos</button>
      </form>
    </div>
    <div class="form-container sign-in">
      <form>
        <h1 style="color: black">Escoge tu ficha</h1>
        <button [disabled]="loginForm.invalid">Entra</button>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Bienvenido a Learning paths</h1>
          <p>
            Ingresa tu correo y contraseña para acceder al gestor de contenido
          </p>
          <button
            type="button"
            class="hidden-btn"
            id="login"
            (click)="isSignDivVisible = false"
          >
            Estudiante
          </button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>Bienvenido pequeño amigo</h1>
          <p>Selecciona el animal que te fue asignado</p>
          <button
            type="button"
            class="hidden-btn"
            id="register"
            (click)="isSignDivVisible = true"
          >
            Educador
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
